<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title</title>
<!-- <link rel="stylesheet" href="../static/css/backend_sideBar.css" /> -->
</head>
<body>
	<ul class="side_bar">
		<th:block th:each="auth: ${session.auths}">
			<li class="li_item" th:if="${auth.systemFunctionVO.funId == 101}">
			<a th:text="${auth.systemFunctionVO.funName}" th:href="@{/auth/listAllAuth}"></a>  <!-- 員工權限調整-->
			</li>	
			<li class="li_item" th:if="${auth.systemFunctionVO.funId == 102}">
				<a th:text="${auth.systemFunctionVO.funName}" th:href="@{/event/listall}"></a> <!-- 活動 -->
			</li>	
			<li class="li_item" th:if="${auth.systemFunctionVO.funId == 103}">
				<a th:text="${auth.systemFunctionVO.funName}" th:href="@{/product/select_page_pdt}"></a>   <!-- 商城權限管理 -->
			</li>	
			<li class="li_item" th:if="${auth.systemFunctionVO.funId == 104}">
				<a th:text="${auth.systemFunctionVO.funName}" th:href="@{/pdtorder/allPdtOrder}"></a>   <!-- 商品訂單管理 -->
			</li>	
			<li class="li_item" th:if="${auth.systemFunctionVO.funId == 105}">
				<a th:text="${auth.systemFunctionVO.funName}" th:href="@{/rt/select_page_RT}"></a>  <!-- 房型管理 -->
			</li>	
			<li class="li_item" th:if="${auth.systemFunctionVO.funId == 106}">
				<a th:text="${auth.systemFunctionVO.funName}"th:href="@{/plans/query}" ></a>   <!-- 行程管理 -->
			</li>	
			<li class="li_item" th:if="${auth.systemFunctionVO.funId == 107}">
				<a th:text="${auth.systemFunctionVO.funName}" th:href="@{/bb/select_page_bb}"></a>     <!-- 消息管理 -->
			</li>	
			<li class="li_item" th:if="${auth.systemFunctionVO.funId == 108}">
				<a th:text="${auth.systemFunctionVO.funName}" th:href="@{/backChatRoom}"></a>   <!-- 訊息回復 -->
			</li>	
		</th:block>

		<li class="li_item">
<!-- 			<form th:action="@{/api/employee/logout}" method="POST"> -->
<!-- 				<button>登出</button> -->
				
				<a th:href="@{/emp/login}">退出登入</a>   
				
<!-- 			</form> -->
		</li>
	</ul>
</body>
</html>