<!DOCTYPE html>
<html lang="zh-tw" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Document</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
	integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/hamburgers/1.1.3/hamburgers.min.css" />
<link rel="stylesheet" href="../static/css/new_elm.css" />
<link rel="stylesheet" href="../static/css/home.css" />
<link rel="stylesheet" href="../static/css/progress.css" />
</head>
<body>
	<div id="prev_container">
		<button id="click_into">click</button>
		<div id="home_prev">
			<div class="focus_closer">
				<img src="images/home/travel1.jpg" alt="" />
			</div>
			<div>
				<img src="images/home/travel2.jpg" alt="" />
			</div>
			<div>
				<img src="images/home/travel3.jpg" alt="" />
			</div>
			<div>
				<img src="images/home/travel4.jpg" alt="" />
			</div>
		</div>
		<div id="filter">
			<p>
				LIN XIN HI~HI~ <br /> <span>郵輪訂房網站</span>
			</p>
		</div>
	</div>
	<!-- 導覽列 -->
	<div th:replace="~{front-end/nav}"></div>

	<!-- 	貼主要內容 -->
	<section id="carousel">
		<div>
			<a th:href="@{/api/plan/planfront}"><img src="images/home/carou1.png" /></a>
		</div>
		<div>
			<a th:href="@{/api/plan/planfront}"><img src="images/home/carou2.png" /></a>
		</div>
		<div>
			<a th:href="@{/api/plan/planfront}"><img src="images/home/carou3.jpg" /></a>
		</div>
		<div>
			<a th:href="@{/api/plan/planfront}"><img src="images/home/carou4.jpg" /></a>
		</div>
		<div>
			<a th:href="@{/api/plan/planfront}"><img src="images/home/carou5.jpg" /></a>
		</div>
	</section>

	<main>
		<div id="tour_area"
			style="background-image: url('../../images/home/map2.png')">

			<p class="tour_area_intro">
				<span>從日出到日落，與你相伴！ <span class="bg_color_bar"></span>
				</span> <br />在郵輪的甲板上，看霞光染紅天際，擁抱大自然的無限美好。在這短暫又永恆的時光裡，每一刻的悸動都讓心靈更豐盈，每一秒的共度都讓彼此更加緊密。這是一場怦然心動的旅程，更是心靈深處的滋養，讓我們在海上之間相依相伴，共享最純粹的美好。
			</p>

			<div class="intro">
				<div class="intro_cont">
					<p>
						<span>日本</span> <br />5天4夜行程僅需57000《灌籃高手》重溫熱血場景，隨後登上壯麗富士山感受震撼自然與文化之美！<br />
						<br /> <a href="" style="padding-left: 45%"
							th:href="@{/api/plan/planfront}">報名連結</a>
					</p>
					<div class="two_img_con">
						<div>
							<img src="images/home/jou1.jpg" alt="" />
						</div>
						<div>
							<img src="images/home/jou2.jpg" alt="" />
						</div>
					</div>
				</div>

				<div class="intro_cont" style="margin-top: 70px">
					<p>
						<span>北歐</span> <br />《北歐極光之旅》120000能親眼目睹極光舞動如夢幻光芒,雄偉冰山和自然原始、最壯光的奇蹟。<br />
						<br /> <a href="" style="padding-left: 45%"
							th:href="@{/api/plan/planfront}">報名連結</a>
					</p>
					<div class="two_img_con">
						<div>
							<img src="images/home/jou3.jpg" alt="" />
						</div>
						<div>
							<img src="images/home/jou4.jpg" alt="" />
						</div>
					</div>
				</div>
				<div class="intro_cont">
					<p>
						<span>愛情海</span> <br />《愛情海之旅》99999元無邊蔚藍的愛情海,踏上如詩如畫的建築般的美景,將永恆雕刻成愛的印記！
						<br /> <br /> <a href="" style="padding-left: 45%"
							th:href="@{/api/plan/planfront}">報名連結</a>
					</p>
					<div class="two_img_con">
						<div>
							<img src="images/home/jou5.jpg" alt="" />
						</div>
						<div>
							<img src="images/home/jou6.jpg" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- 活動預約 -->
		<div id="menu">
			<div class="evt_bg">
				<img src="images/home/hihi02-活動預約.png" alt="" class="evt_bg_img" />
			</div>

			<div class="menu-container">
				<div class="menu-item" onclick="showSlider('indoor')">
					<div class="icon">
						<img src="images/home/menu/evtelm1.png" alt="" />
					</div>

					<p>室內活動</p>
					<button class="btn-circle">V</button>
				</div>
				<div class="menu-item" onclick="showSlider('outdoor')">
					<div class="icon">
						<img src="images/home/menu/evtelm2.png" alt="" />
					</div>
					<p>戶外活動</p>
					<button class="btn-circle">V</button>
				</div>
				<div class="menu-item" onclick="showSlider('night')">
					<div class="icon">
						<img src="images/home/menu/evtelm3.png" alt="" />
					</div>
					<p>夜晚時光</p>
					<button class="btn-circle">V</button>
				</div>
				<div class="menu-item" onclick="showSlider('rent')">
					<div class="icon">
						<img src="images/home/menu/evtelm4.png" alt="" />
					</div>
					<p>租借設施</p>
					<button class="btn-circle">V</button>
				</div>
				<div class="menu-item" onclick="showSlider('festive')">
					<div class="icon">
						<img src="images/home/menu/evtelm5.png" alt="" />
					</div>
					<p>限定活動</p>
					<button class="btn-circle">V</button>
				</div>
				<div class="menu-item" onclick="showSlider('family')">
					<div class="icon">
						<img src="images/home/menu/evtelm6.png" alt="" />
					</div>
					<p>親子友善</p>
					<button class="btn-circle">V</button>
				</div>
			</div>
			<p class="menu_text">點選我們的按鈕吧!!</p>
		</div>

		<!-- 圖片滑動區域 -->
		<div id="slider" class="hidden">
			<button class="close-btn" onclick="closeSlider()">×</button>
			<div class="slider-content">
				<button class="prev-btn" onclick="prevImage()">⬅</button>
				<div class="slider-images hidden" id="slider-indoor">
					<img src="images/home/menu/indoor01.jpg" alt="電影院" /> <img
						src="images/home/menu/indoor02.jpg" alt="音樂廳" /> <img
						src="images/home/menu/indoor03.webp" alt="賭場" />
				</div>
				<div class="slider-images hidden" id="slider-outdoor">
					<img src="images/home/menu/outdoor01.jpg" alt="衝衝衝" /> <img
						src="images/home/menu/outdoor02.jpg" alt="下水跟上大家" /> <img
						src="images/home/menu/outdoor03.jpg" alt="我在天上飛" />
				</div>
				<div class="slider-images hidden" id="slider-night">
					<img src="images/home/menu/night1.jpg" alt="夜晚電影" /> <img
						src="images/home/menu/night2.jpg" alt="夜晚煙火" /> <img
						src="images/home/menu/night3.jpg" alt="夜晚星空" />
				</div>
				<div class="slider-images hidden" id="slider-rent">
					<img src="images/home/menu/rent1.jpg" alt="租借舞廳" /> <img
						src="images/home/menu/rent2.jpg" alt="租借健身房" /> <img
						src="images/home/menu/rent3.jpg" alt="租借兒童遊樂區" />
				</div>
				<div class="slider-images hidden" id="slider-festive">
					<img src="images/home/menu/festive1.jpg" alt="限定活動米其林三星" /> <img
						src="images/home/menu/festive2.jpg" alt="限定活動DJ舞會" /> <img
						src="images/home/menu/festive3.jpg" alt="限定活動聯誼" />
				</div>
				<div class="slider-images hidden" id="slider-family">
					<img src="images/home/menu/family1.jpg" alt="親子活動" /> <img
						src="images/home/menu/family2.jpg" alt="親子友善" /> <img
						src="images/home/menu/family3.jpg" alt="促進親子關係" />
				</div>
				<button class="next-btn" onclick="nextImage()">➡</button>
			</div>
		</div>
	</main>


	<!-- 商品分頁 -->
	<section class="product-section">
		<div class="product-block">
			<div class="product-info">
				<div class="color-block"></div>
				<h2>01</h2>
				<h3>生活用品</h3>
			</div>
			<div class="product-images">
				<div>
					<a th:href="@{/pdt/productlist}"> <img
						src="images/home/pdt/pdt1.jpg" alt="生活用品" />
					</a>
				</div>
				<div>
					<a th:href="@{/pdt/productlist}"> <img
						src="images/home/pdt/pdt2.jpg" alt="生活用品" />
					</a>
				</div>
			</div>
		</div>

		<div class="product-block" style="flex-direction: row-reverse">
			<div class="product-info">
				<div class="color-block"></div>
				<h2>02</h2>
				<h3>時尚配件</h3>
			</div>
			<div class="product-images">
				<div>
					<a th:href="@{/pdt/productlist}"> <img
						src="images/home/pdt/pdt3.jpg" alt="泳衣" />
					</a>
				</div>
				<div>
					<a th:href="@{/pdt/productlist}"> <img
						src="images/home/pdt/pdt4.jpg" alt="配件" />
					</a>
				</div>
			</div>
		</div>

		<div class="product-block">
			<div class="product-info">
				<div class="color-block"></div>
				<h2>03</h2>
				<h3>特色伴手禮</h3>
			</div>
			<div class="product-images">
				<div>
					<a th:href="@{/pdt/productlist}"> <img
						src="images/home/pdt/pdt5.jpg" alt="馬卡龍" />
					</a>
				</div>
				<div>
					<a th:href="@{/pdt/productlist}"> <img
						src="images/home/pdt/pdt6.jpg" alt="餅乾禮盒" />
					</a>
				</div>
			</div>
		</div>
	</section>

	<!-- 登出動畫 -->
	<div th:insert="~{/front-end/mem/progressbar :: progress}"
		th:if="${msg}"></div>
	<div th:replace="~{back-end/footer :: f}"></div>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"
		integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	<script type="text/javascript" th:src="@{/js/nav.js}"></script>
	<script type="text/javascript" th:src="@{/js/evt.js}"></script>
	<script type="text/javascript" th:src="@{/js/home.js}"></script>

	<script>
        //登出特效
	 	const progress_bar = document.querySelector(".progress_bar"); 
		const progress = document.querySelector(".progress");

		if (progress) {
			const interval = setInterval(() => {
			    if (progress_bar.value == 0) {
			      clearInterval(interval);
			      progress.style.display = "none";
			      return;
			    }
			    progress_bar.value -= 10;
			  }, 150);
					
		}
    </script>
</body>
</html>
