<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<ul class="side_bar" th:fragment="profileSB">
		<li class="list_item"><a th:href="@{/mem/profile}">基本資料</a></li>
		<li class="list_item"><a th:href="@{/member/notify}">我的通知</a></li>
		<li class="list_item my_list">我的訂單</li>
		<li class="expand_list">
			<p>
				<a href="/frontOrderDetail">活動訂單詳情</a>
			</p>
			<p>
<!--		<a href="/planord/planorddetail">行程訂單詳情</a>-->
				<a href="" th:href="@{/planord/memorder/{memId}(memId=${session.auth.memId})}">行程訂單詳情</a>
			</p>
			<p>
				<a href="" th:href="@{/shop/get_myPdtOrder}">商城訂單詳情</a>
			</p>
		</li>
		<li class="list_item"><a th:href="@{/chatRoom}">連繫客服</a></li>

	</ul>
</body>
</html>